@model CtrlBox.UI.Web.Models.Role.RoleViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content" style="min-height:1029px !important">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Security</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Roles</a>
                    </li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->

        <div class="row-fluid">
            <div class="span4">
                <!-- BEGIN UNORDERED LISTS PORTLET-->
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-list-ul"></i>Roles Lists</div>
                        <div class="actions">
                            <a asp-action="AssignRoleToUser" class="btn mini"><i class="icon-key"></i> Edit Authorization</a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul>
                            @foreach (var item in Model.AllRoles)
                            {
                                <li>@item.Value</li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- END UNORDERED LISTS PORTLET-->
            </div>
            <div class="span4">
                <!-- BEGIN UNORDERED LISTS PORTLET-->
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-list-ul"></i>Claims Lists</div>
                        <div class="tools">
                            <div class="btn-group">
                                <a asp-action="AssignClaimToUser"><i class="icon-plus-sign"></i> Claim To User</a>
                            </div>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul>
                            @foreach (var item in Model.AllClaims)
                            {
                                <li>@item.Value</li>
                            }
                        </ul>
                    </div>
                </div>
                <!-- END UNORDERED LISTS PORTLET-->
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>

