<div id="modalAddress" class="modal hide fade" tabindex="-1" data-focus-on="input:first" style="display: none; margin-top: -155px;" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>Address</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12 ">
                <div class="control-group">
                    <strong>Street:</strong>
                    <div class="controls">
                        <span id="street" class="text">#24 Sun Park Avenue, Rolton Str</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 ">
                <div class="control-group">
                    <strong>City:</strong>
                    <div class="controls">
                        <span id="city" class="text">New York</span>
                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="span6">
                <div class="control-group">
                    <strong>State:</strong>
                    <div class="controls">
                        <span id="state" class="text">New York</span>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
        <div class="row-fluid">
            <div class="span6 ">
                <div class="control-group">
                    <strong>Reference:</strong>
                    <div class="controls">
                        <span id="reference" class="text">...</span>
                    </div>
                </div>
            </div>
            <div class="span6 ">
                <div class="control-group">
                    <strong>District:</strong>
                    <div class="controls">
                        <span id="district" class="text">...</span>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <div class="row-fluid">
            <div class="span6 ">
                <div class="control-group">
                    <strong>Post Code:</strong>
                    <div class="controls">
                        <span id="postCode" class="text">457890</span>
                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="span6 ">
                <div class="control-group">
                    <strong>Country:</strong>
                    <div class="controls">
                        <span id="country" class="text">Brasil</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn">Close</button>
        </div>
    </div>
</div>