@model CtrlBox.Application.ViewModel.BoxVM

<li>
    <a href="#" class="tree-toggle closed" data-toggle="branch" data-value="Bootstrap_Tree" id="nut3">
        <img style="width:20px; height:20px;" src="data:'@Model.BoxType.Picture.ContentType';base64,@Model.BoxType.Picture.Base64Image" /> @Model.Description
    </a>
    <ul class="branch">
        @if (Model.BoxesProductItems.Count == 0)
        {
            @foreach (var item in Model.BoxesChildren)
            {
                <partial name="~/Views/PartialsSections/_ViewBox.cshtml" model="item" />
            }
        }
        else
        {
            foreach (var item in Model.BoxesProductItems)
            {
                <li><a href="#" data-role="leaf"><img style="max-width:20px; max-height:20px;" src="@Model.Product.Picture.SrcBase64Image" /> @item.ProductItem.Barcode</a></li>
            }
        }
    </ul>
</li>
