@model CtrlBox.Application.ViewModel.BoxVM

<li>
    <a href="#" class="tree-toggle closed" data-toggle="branch" data-value="Bootstrap_Tree" id="nut3">
        @Model.Description
    </a>
    <ul class="branch">
        @if (Model.BoxesProductItems.Count == 0)
        {
            @foreach (var item in Model.BoxesChildren)
            {
                <partial name="~/Views/PartialsSections/_ViewBox.cshtml" model="item" />
            }
        }
        else
        {
            foreach (var item in Model.BoxesProductItems)
            {
                <li><a href="#" data-role="leaf"><i class="icon-suitcase"></i> @item.ProductItem.Barcode</a></li>
            }
        }
    </ul>
</li>
