@model CtrlBox.Application.ViewModel.TraceabilityVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section cssViews{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/plugins/select2/select2_metro.css" />

    <!-- END PAGE LEVEL STYLES -->
}
@section scriptsViews{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        $('.select2_option').select2({
            allowClear: true
        });

        $('.radio input[type=radio][name=HasProduct]').change(function () {
            var hasProduct = $(".radio input[type=radio][id=idHasProduct]").is(":checked");

            if (hasProduct) {
                $("#grpProducts").show();
                $("#grpBoxes").hide();
            } else {
                $("#grpProducts").hide();
                $("#grpBoxes").show();
            }
        });
    });
</script>
<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Traceability</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="#">Index</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Create</a></li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-plus"></i>Traceability</div>
                    </div>
                    <div class="portlet-body">
                        <!-- BEGIN FORM-->
                        <form asp-action="Create" asp-controller="Trace" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">TracesTypes</label>
                                <div class="controls">
                                    <select id="ddlTracesTypes" class="span6 select2_option" data-placeholder="Choose a Traces Types" name="TraceTypeID" asp-for="TraceTypeID" asp-items="@((List<SelectListItem>)ViewData["TracesTypes"])"><option value="0">Please select TracesTypes</option></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Client </label>
                                <div class="controls">
                                    <select id="ddlClient" class="span6 select2_option" data-placeholder="Choose a box" name="ClientID" asp-for="ClientID" asp-items="@((List<SelectListItem>)ViewData["Clients"])"><option value="0">Please select client</option></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Which box</label>
                                <div class="controls">
                                    <label class="radio">
                                        <input type="radio" id="idHasProduct" name="HasProduct" value="True" />
                                        Has Product
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="HasProduct" value="False" checked />
                                        Hasn't Product
                                    </label>
                                </div>
                            </div>
                            <div id="grpBoxes" class="control-group">
                                <label class="control-label">Box </label>
                                <div class="controls">
                                    <select id="ddlBoxesType" class="span6 select2_option" data-placeholder="Choose a box" name="BoxID" asp-for="BoxID" asp-items="@((List<SelectListItem>)ViewData["Boxes"])"><option value="0">Please select box</option></select>
                                </div>
                            </div>
                            <div id="grpProducts" style="display:none">
                                <div class="control-group">
                                    <label class="control-label">Products Items</label>
                                    <div class="controls">
                                        <select class="span6 select2_option" data-placeholder="Choose a Products Items" name="ProductItemID" asp-for="ProductItemID" asp-items="@((List<SelectListItem>)ViewData["ProductsItems"])"><option value="0">Please select ProductsItems</option></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>v
