@model CtrlBox.Application.ViewModel.ClientVM
@{
    ViewData["Title"] = "Home Page";
}
@section scriptsViews
    {
    <partial name="~/Views/PartialsSections/_ScriptsTable.cshtml" />
}
<script type="text/javascript">
    @{ var clientID = Model.DT_RowId;
           }

    (function ($) {
        $.fn.serializeFormJSON = function () {
            var list = [];
            var a = this.serializeArray();
            $.each(a, function () {
                list.push({ "ClientID": '@clientID', "ProductID": this.name, "Price": this.value });
            });
            return JSON.stringify(list);
        };
    })(jQuery);

    jQuery(document).ready(function () {
        $('#btnSubmit').click(function () {
            var oTableAdd = $('#tbProductValue').dataTable();
            var sData = oTableAdd.$('input.PriceProduct').serializeFormJSON();

            $.ajax({
                url: '@Url.Content("~/Product/SubmitProductValue")',
                type: 'POST',
                dataType: 'json',
                data: { listJSON: sData },
                "success": function (json) {
                    if (!json.NotAuthorized) {
                        alert('Completo');
                        window.history.back();
                    }
                },
                "error": handleAjaxError
            });

            return false;
        });

        var url = '@Url.Content("~/Product/AjaxHandlerProductValue")?clientID=' + '@clientID';
        var oTable = $('#tbProductValue').dataTable({
            "sAjaxSource": url,
            "bProcessing": true,
            "bDestroy": true,
            "aoColumns": [
                        {
                            "mData": "Product.Name",
                            "bSortable": false
                        },
                        {
                            "mData": null,
                            "sType": "html",
                            "bSortable": false,
                            sClass: "calc",
                            "mRender": function (data, type, row) {
                                if (type === 'display') {
                                    return '<input class="PriceProduct" type="text" placeholder="' + row.Price + '" class="m-wrap small" name="' + row.Product.DT_RowId + '" />'
                                    }
                                return data;
                            }
                        }
            ]
        });
    });
</script>


<!-- BEGIN PAGE -->
<div class="page-content" style="min-height:1029px !important">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Product</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Index</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Client procuct value</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="alert alert-info">
                    <h3><strong>Client name:</strong> @Model.Name</h3>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Price per product</div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form action="#" class="form-horizontal">
                            <div class="control-group">
                                <table id="tbProductValue" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Produto</th>
                                            <th>valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Nanica</td>
                                            <td><input type="text" placeholder="0" class="m-wrap small" name="row-1-age" /></td>
                                        </tr>
                                        <tr>
                                            <td>Prata</td>
                                            <td><input type="text" placeholder="0" class="m-wrap small" name="row-2-age" /></td>
                                        </tr>
                                        <tr>
                                            <td>Maçã</td>
                                            <td><input type="text" placeholder="0" class="m-wrap small" name="row-3-age" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-actions">
                                <a onclick="window.history.back(); return false;" href="#" class="btn purple"><i class="m-icon-swapleft  m-icon-white"></i> Back</a>
                                <a onclick="window.history.back(); return false;" href="#" class="btn yellow"> Cancel</a>
                                <a href="#" id="btnSubmit" class="btn green"><i class="icon-plus"></i> Salvar</a>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->