@model CtrlBox.Application.ViewModel.ClientVM

@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
    @{ var clienteID = Model.DT_RowId;

           }


    (function ($) {
        $.fn.serializeFormJSON = function () {
            var lista = [];
            var a = this.serializeArray();
            $.each(a, function () {
                lista.push({ "ClientID": '@clienteID', "ProductID": this.name, "Price": this.value });
            });
            return JSON.stringify(lista);
        };
    })(jQuery);


    jQuery(document).ready(function () {

        $('#btnSubmit').click(function () {
            var oTableAdicionar = $('#tbValorPorProduto').dataTable();
            var sData = oTableAdicionar.$('input.PriceProduct').serializeFormJSON();
            console.log(sData);

            $.ajax({
                url: '@Url.Content("~/Product/SubmitValorPorProduto")',
                type: 'POST',
                dataType: 'json',
                data: { clienteID: '@clienteID', lista: sData },
                "success": function (json) {
                    if (!json.NotAuthorized) {
                        alert('Completo');
                    }
                }
            });

            return false;

        });

        var url = '@Url.Content("~/Product/AjaxHandlerValorPorProduto")?clienteID=' + '@clienteID';

        var oTable = $('#tbValorPorProduto').dataTable({
            "sAjaxSource": url,
            "bProcessing": true,
            "bDestroy": true,
            "aoColumns": [
                        {
                            "mData": "Product.Name",
                            "bSortable": false
                        },
                        {
                            "mData": null,
                            "sType": "html",
                            "bSortable": false,
                            sClass: "calc",
                            "mRender": function (data, type, row) {
                                if (type === 'display') {
                                    return '<input class="PriceProduct" type="text" placeholder="' + row.Price + '" class="m-wrap small" name="' + row.Product.DT_RowId + '" />'
                                    }
                                return data;
                            }
                        }
            ]
        });
    });
</script>


<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Home</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Data Tables</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Basic Tables</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>

        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">

            <div class="span8">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>Cliente: <span> @Model.Name</span></div>

                    </div>
                    <div class="portlet-body">
                        <form id="form">
                            <table id="tbValorPorProduto" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Produto</th>
                                        <th>valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Nanica</td>
                                        <td><input type="text" placeholder="0" class="m-wrap small" name="row-1-age" /></td>
                                    </tr>
                                    <tr>
                                        <td>Prata</td>
                                        <td><input type="text" placeholder="0" class="m-wrap small" name="row-2-age" /></td>
                                    </tr>
                                    <tr>
                                        <td>Maçã</td>
                                        <td><input type="text" placeholder="0" class="m-wrap small" name="row-3-age" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <a href="#" id="btnSubmit" class="btn green"><i class="icon-plus"></i>Salvar</a>

                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->

            </div>

        </div>

        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>