@model CtrlBox.Application.ViewModel.ProductVM

@{
    ViewData["Title"] = "Product";
}
@section cssViews{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/plugins/select2/select2_metro.css" />

    <!-- END PAGE LEVEL STYLES -->
}
@section scriptsViews{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        $('.select2_option').select2({
            allowClear: true
        });

        $('#UnitMeasure').val('Milliliter');
        $('#UnitMeasure').trigger('change');
        $('#MassUnitWeight').val('Milligram');
        $('#MassUnitWeight').trigger('change');
    });
</script>

<div class="page-content" style="min-height:988px !important">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Product</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="#">Index</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Create</a></li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Create product</div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form asp-action="Create" asp-controller="Product" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">Name</label>
                                <div class="controls">
                                    <input asp-for="Name" type="text" class="span6 m-wrap">
                                    <span asp-for="Name" class="help-inline">enter with name rule</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Description</label>
                                <div class="controls">
                                    <input asp-for="Description" type="text" class="span6 m-wrap">
                                    <span asp-for="Description" class="help-inline">enter with Description rule</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Package</label>
                                <div class="controls">
                                    <input asp-for="Package" type="text" class="span6 m-wrap">
                                    <span asp-for="Package" class="help-inline">enter with Package rule</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Capacity</label>
                                <div class="controls">
                                    <input asp-for="Capacity" type="text" class="span6 m-wrap">
                                    <span asp-for="Capacity" class="help-inline">enter with Capacity rule</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">UnitType</label>
                                <div class="controls">
                                    <select class="span6 select2_option" data-placeholder="Choose a product" name="UnitType" asp-for="UnitType" asp-items="@((List<SelectListItem>)ViewData["OptionsBoxUnitType"])"></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">UnitMeasure</label>
                                <div class="controls">
                                    <select class="span6 select2_option" data-placeholder="Choose a product" id="UnitMeasure" name="UnitMeasure" asp-for="UnitMeasure" asp-items="@((List<SelectListItem>)ViewData["OptionsBoxVolumeUnit"])"></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Weight</label>
                                <div class="controls">
                                    <input asp-for="Weight" type="text" class="span6 m-wrap">
                                    <span asp-for="Weight" class="help-inline">enter with Weight rule</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">UnitMeasure</label>
                                <div class="controls">
                                    <select class="span6 select2_option" data-placeholder="Choose a product" name="MassUnitWeight" asp-for="MassUnitWeight" asp-items="@((List<SelectListItem>)ViewData["OptionsBoxMassUnit"])"></select>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn blue">Submit</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>
