@{
    ViewData["Title"] = "Home Page";
}

@section scriptsViews
    {
    <partial name="~/Views/PartialsSections/_ScriptsTable.cshtml" />
}
<script src="~/scripts/tb-product.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var url = '@Url.Content("~/Product/AjaxHandlerGet")';

        TableProduct.init(url);
    });
</script>

@Html.Hidden("editUrl", Url.Action("Product/Index"))
<!-- BEGIN PAGE -->
<div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div id="portlet-config" class="modal hide">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>portlet Settings</h3>
        </div>
        <div class="modal-body">
            <p>Here will be a configuration form</p>
        </div>
    </div>
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Product</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Index</a>
                    </li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-edit"></i>List all products</div>
                        <div class="actions">
                            <a asp-action="Create" class="btn green"><i class="icon-plus"></i> New Product</a>
                            <a asp-action="ProductStock" class="btn purple easy-pie-chart-reload"><i class="icon-plus"></i> Product Stock</a>
                        </div>
                    </div>   
                    <div class="portlet-body no-more-tables">
                        <table id="sample_editable_1" class="table-bordered table-striped table-condensed cf">
                            <thead class="cf">
                                <tr>
                                    <th>Product</th>
                                    <th>Description</th>
                                    <th>Package</th>
                                    <th>Capacity</th>
                                    <th>Weight</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->