@{
    ViewData["Title"] = "Home Page";
}
@section scriptsViews
    {
    <partial name="~/Views/PartialsSections/_ScriptsTable.cshtml" />
    <script src="~/scripts/controllerJS/views/product-stock.js"></script>
}
<script type="text/javascript" charset="utf-8">
    @{ var stockID = ViewData["StockID"];
      }

        jQuery(document).ready(function () {
            ProductStock.init('@stockID');
        });
</script>


<!-- BEGIN PAGE -->
<div class="page-content" style="min-height:1029px !important">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Home</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Layouts</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Blank Page</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Products stock</div>
                    </div>
                    <div class="portlet-body form">
                        <h3 class="block">Stock of local products</h3>
                        <!-- BEGIN FORM-->
                        <form action="#" class="form-horizontal">
                            <div class="control-group">
                                <table id="tbProductStock" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Produto</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="form-actions">
                                <a onclick="window.history.back(); return false;" href="#" class="btn purple"><i class="m-icon-swapleft  m-icon-white"></i> Back</a>
                                <a onclick="window.history.back(); return false;" href="#" class="btn yellow"> Cancel</a>
                                <a href="#" id="btnSubmit" class="btn green"><i class="icon-plus"></i> Salvar</a>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->