@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" charset="utf-8">
    @{ var stockID = ViewData["StockID"];
      }

    (function ($) {
        $.fn.serializeFormJSON = function () {
            var list = [];
            var a = this.serializeArray();
            $.each(a, function () {
                console.log(this);
                list.push({ "StockID": '@stockID', "ProductID": this.name, "Amount": this.value });
            });
            return JSON.stringify(list);
        };
    })(jQuery);

    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            var oTableAdd = $('#tbProductStock').dataTable();
            var sData = oTableAdd.$('input').serializeFormJSON();

            $.ajax({
                url: '@Url.Content("~/Product/SubmitProductStock")',
                type: 'POST',
                dataType: 'json',
                data: { tbProducts: sData },
                "success": function (json) {
                    if (!json.NotAuthorized) {
                        alert('Complete');
                    }
                }
            });

            return false;
        });

            var url = '@Url.Content("~/Product/AjaxHandlerProductStock")';

                 var oTable = $('#tbProductStock').dataTable({
                "sAjaxSource": url,
                "bProcessing": true,
                "bDestroy": true,
                "aoColumns": [
                    {
                        "mData": "ProductName",
                    },
                    {
                        "mData": null,
                        "sType": "html",
                        "bSortable": false,
                        sClass: "calc",
                        "mRender": function (data, type, row) {
                            if (type === 'display') {
                                return '<input type="text" placeholder="' + row.Amount + '" class="m-wrap small" name="' + row.ProductID + '" />'
                            }
                            return data;
                        }
                    }
                ],
                "aLengthMenu": [
                    [5, 15, 20, -1],
                    [5, 15, 20, "All"] // change per page values here
                ],
                // set the initial value
                "iDisplayLength": 5,
                "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
                "sPaginationType": "bootstrap",
                "oLanguage": {
                    "sLengthMenu": "_MENU_ records per page",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "aoColumnDefs": [{
                    'bSortable': false,
                    'aTargets': [0]
                }
                ]
            });
    });

</script>


<!-- BEGIN PAGE -->
<div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div id="portlet-config" class="modal hide">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>portlet Settings</h3>
        </div>
        <div class="modal-body">
            <p>Here will be a configuration form</p>
        </div>
    </div>
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Home</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Data Tables</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Basic Tables</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span6">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>Stock Produtos</div>
                    </div>
                    <div class="portlet-body">
                        <form id="form">
                            <table id="tbProductStock" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Produto</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </form>
                        <a href="#" id="btnSubmit" class="btn green"><i class="icon-plus"></i> Salvar</a>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->
