@{
    ViewData["Title"] = "Home Page";
}
@section cssViews{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/plugins/select2/select2_metro.css" />

    <!-- END PAGE LEVEL STYLES -->
}
@section scriptsViews{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/plugins/select2/select2.min.js"></script>
    <script src="~/scripts/controllerJS/views/product-stock.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
}

    <script type="text/javascript">
    jQuery(document).ready(function () {
        ProductStock.init();
    });
    </script>
<!-- BEGIN PAGE -->
<div class="page-content" style="min-height:1029px !important">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Home</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Layouts</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Blank Page</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Products stock</div>
                    </div>
                    <div class="portlet-body form">
                        <h3 class="block">Stock of local products</h3>
                        <!-- BEGIN FORM-->
                        <form action="#" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">Tracking Types</label>
                                <div class="controls">
                                    <select id="ddlTrackingType" class="span6 select2_option" data-placeholder="Choose a tracking Types" name="TrackingTypeID" asp-items="@((List<SelectListItem>)ViewData["TrackingTypes"])"><option value="0">Please select Tracking Types</option></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Client</label>
                                <div class="controls">
                                    <select id="ddlClient" class="span6 select2_option" data-placeholder="Choose a Client" name="ClientID" asp-items="@((List<SelectListItem>)ViewData["Clients"])"></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Product</label>
                                <div class="controls">
                                    <select id="ddlProduct" class="span6 select2_option" data-placeholder="Choose a Product" name="ProductID" asp-items="@((List<SelectListItem>)ViewData["Products"])"><option value="0">Please select user</option></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Available Product Items</label>
                                <div class="controls">
                                    <input id="txtTotalProductItem" class="span6 m-wrap" type="text" placeholder="" disabled="">
                                    <span class="help-inline">Total available</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Quantity</label>
                                <div class="controls">
                                    <input id="txtQuantity" type="text" class="span6 m-wrap">
                                    <span class="help-inline">Enter with total items</span>
                                </div>
                            </div>
                            <div class="form-actions">
                                <a onclick="window.history.back(); return false;" href="#" class="btn purple"><i class="m-icon-swapleft  m-icon-white"></i> Back</a>
                                <a onclick="window.history.back(); return false;" href="#" class="btn yellow"> Cancel</a>
                                <a href="#" id="btnSubmit" class="btn green"><i class="icon-plus"></i> Salvar</a>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->