@model CtrlBox.Application.ViewModel.StockVM

@{
    ViewData["Title"] = "CreateStock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section cssViews{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/plugins/select2/select2_metro.css" />

    <!-- END PAGE LEVEL STYLES -->
}
@section scriptsViews{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/js/create-stock.js"></script>
    <script type="text/javascript" src="~/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        CreateStock.init();
    });
</script>
<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Prooduct</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="#">Stock</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Create</a></li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>New product stock</div>
                    </div>
                    <div class="portlet-body">
                        <!-- BEGIN FORM-->
                        <form asp-action="CreateStock" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">List Clients</label>
                                <div class="controls">
                                    <select id="ddlClients" class="span6 select2_option" data-placeholder="Choose a user" name="ClientID" asp-for="ClientID" asp-items="@((List<SelectListItem>)ViewData["Clients"])"> <option value="0">Please select client</option></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">List Products</label>
                                <div class="controls">
                                    <select id="ddlProducts" class="span6 select2_option" data-placeholder="Choose a user" name="ProductID" asp-for="ProductID" asp-items="@((List<SelectListItem>)ViewData["Products"])"> <option value="0">Please select product</option></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Stock Minimum</label>
                                <div class="controls">
                                    <input id="Minimum" type="text" name="Minimum" asp-for="Minimum" placeholder="Minimum" class="m-wrap medium" />
                                    <span class="help-inline">Some hint here</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Total Stock</label>
                                <div class="controls">
                                    <input id="TotalStock" disabled="disabled" type="text" asp-for="TotalStock" name="TotalStock" placeholder="0" class="m-wrap small" />
                                    <span class="help-inline">Add in movement stock</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">DefaultPrice</label>
                                <div class="controls">
                                    <input id="DefaultPrice" type="text" name="DefaultPrice" asp-for="DefaultPrice" placeholder="$0,00" class="m-wrap medium" />
                                    <span class="help-inline">Some hint here</span>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>

