@model CtrlBox.Application.ViewModel.StockMovementVM

@{
    ViewData["Title"] = "StockMovementsCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section cssViews{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/plugins/select2/select2_metro.css" />

    <!-- END PAGE LEVEL STYLES -->
}
@section scriptsViews{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/scripts/controllerJS/views/create-stock-movements.js"></script>
    <script type="text/javascript" src="~/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        CreateStockMovements.init();
    });
</script>
<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Address</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="#">Index</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Create</a></li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>New CreateStockMovements</div>
                    </div>
                    <div class="portlet-body">
                        <!-- BEGIN FORM-->
                        <form asp-action="StockMovementsCreate" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">List clients</label>
                                <div class="controls">
                                    <select id="ddlClients" class="span6 select2_option" data-placeholder="Choose a user" name="ClientSupplierID" asp-for="ClientSupplierID" asp-items="@((List<SelectListItem>)ViewData["Clients"])"> <option value="0">Please select client</option></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">List products</label>
                                <div class="controls">
                                    <select id="ddlProducts" class="span6 select2_option" data-placeholder="Choose a user" name="ProductID" asp-for="ProductID" asp-items="@((List<SelectListItem>)ViewData["Products"])"> <option value="0">Please select product</option></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">UnitPrice</label>
                                <div class="controls">
                                    <input id="UnitPrice" type="text" name="UnitPrice" asp-for="UnitPrice" placeholder="Minimum" class="m-wrap medium" />
                                    <span class="help-inline">Some hint here</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Amount</label>
                                <div class="controls">
                                    <input id="Amount" type="text" asp-for="Amount" name="Amount" placeholder="0" class="m-wrap small" />
                                    <span class="help-inline">Add in movement stock</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">List type movement</label>
                                <div class="controls">
                                    <select id="ddlTypes" class="span6 select2_option" name="StockType" asp-for="StockType"><option value="Input">Input</option><option value="Output">Output</option></select>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>


