
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function handleAjaxError(xhr, textStatus, error) {

        $('#example').dataTable({
            "bDestroy": true,
            "bProcessing": false
        });

        if (textStatus === 'timeout') {
            alert('The server took too long to send the data.');
        }
        else {
            var obj = $.parseJSON(xhr.responseText);
            alert(obj.Message);
            alert("É necessário atualizar a página");
        }

        return false;
    }

    Number.prototype.formatMoney = function (places, symbol, thousand, decimal) {
        places = !isNaN(places = Math.abs(places)) ? places : 2;
        symbol = symbol !== undefined ? symbol : "R$ ";
        thousand = thousand || ".";
        decimal = decimal || ",";
        var number = this,
            negative = number < 0 ? "-" : "",
            i = parseInt(number = Math.abs(+number || 0).toFixed(places), 10) + "",
            j = (j = i.length) > 3 ? j % 3 : 0;
        return symbol + negative + (j ? i.substr(0, j) + thousand : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand) + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2) : "");
    };


    jQuery(document).ready(function () {
        var tbCheque = $('#tbCheques').DataTable({

            "bPaginate": false,
            "bAutoWidth": false,
            bFilter: false, bInfo: false,

            "aoColumns": [
                               {
                                   "mData": "NumeroCheque",
                                   data : null,
                                   "bSortable": false
                               },
                                {
                                    "mData": "Valor",
                                    "bSortable": false
                                },
                                {
                                    "mData": "Data",
                                    "bSortable": false
                                },
                                 {
                                     "mData": "Status",
                                     "bSortable": false
                                 }]


        });
        var rowID = 0;
        //Salva linha de cheque
        $("#target").click(function (event) {

            var valor =   parseFloat($("#mask_currency").val().replace(/[^0-9\,]+/g, "").replace(",", "."));
            valor = valor.formatMoney();

            var tb = $('#tbCheques').DataTable();
            var rowADD = {
                // "DT_RowId": rowID + 1,
                "NumeroCheque": $("#numeroCheque").val(),
                "Valor": valor,
                "Data":  $("#dtCheque").val(),
                "Status": "<span class=\"label label-success\">Approved</span>"
            };

            tb.row.add(rowADD).draw();
        });

        //Seleciona uma linha de cheque para excluir
        $('#tbCheques tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                tbCheque.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });
        //Exclui linha de cheque
        $('#deleteRow').click(function () {
            tbCheque.row('.selected').remove().draw(false);
        });



        //Calcula os valores para os produtos
        $('#tbVenda tbody').on('blur', 'td.calc', function () {
            var sum = 0;

            var valor = $(this).closest('tr').children().eq(3);
            var valorProduto = parseFloat($(valor).html().replace(/[^0-9\,]+/g, "").replace(",", "."));
            var qtde = $(this).find('.qtdeVenda').val();
            var totalRow = valorProduto * qtde;
            var tb = $('#tbVenda').dataTable();

            var rowIndex = tb.fnGetPosition($(this).closest('tr')[0]);
            tb.fnUpdate(totalRow.formatMoney(), rowIndex, 4);

            $("#tbVenda tbody .somaTotal").each(function () {
                var valor = $(this).html();
                sum += parseFloat(valor.replace(/[^0-9\,]+/g, "").replace(",", "."));
            });
            $('#somaVenda').html(sum.formatMoney());

            return false;
        });

        $('#calcular').click(function () {
            var valorRecebido = parseFloat($("#mask_currencyX").val().replace(/[^0-9\,]+/g, "").replace(",", "."));
            var saldoAnterior = parseInt($("#tbTotal #saldoAnterior").text().replace(",", "."));

            var sum = parseFloat($("#somaVenda").text().replace(/[^0-9\,]+/g, "").replace(",", "."));
            var ct = valorRecebido - sum;

            $("#totalVenda").text(sum.formatMoney());
            $("#recebido").text(valorRecebido.formatMoney())
            $("#total").text((saldoAnterior + ct).formatMoney());
        });


        @{ var clienteID = ViewData["clienteID"];
           var linhaID = ViewData["linhaID"];
           var entregaID = ViewData["entregaID"];
           }

        var url = '@Url.Content("~/Sale/AjaxHandlerExecutarVenda")?clienteID=' + '@clienteID' + '&linhaID=' + '@linhaID';

        var oTable = $('#tbVenda').dataTable({
            "sAjaxSource": url,
            "bProcessing": true,
            "bDestroy": true,
            "aoColumns": [
                                {
                                    "mData": "NomeProduto",
                                    "bSortable": false
                                },
                                {
                                    "mData": null,
                                    "sType": "html",
                                    "bSortable": false,
                                    "sClass": "calc",
                                    "mData": function (data, type, row) {
                                        if (type === 'display') {
                                            return '<input type="text" placeholder="0" class="m-wrap small qtdeVenda">';
                                        }
                                        return data;
                                    }
                                },
                                {
                                    "mData": null,
                                    "sType": "html",
                                    "bSortable": false,
                                    "mData": function (data, type, row) {
                                        if (type === 'display') {
                                            return '<input type="text" placeholder="0" class="m-wrap small qtdeRetorno">';
                                        }
                                        return data;
                                    }
                                },
                                {
                                    "mData": "ValorProduto"

                                },
                                {
                                    "mData": "Total",
                                    sClass: "somaTotal",
                                }

            ],

            "fnServerData": function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    "dataType": 'json',
                    "type": "POST",
                    "url": sSource,
                    "data": aoData,
                    "success": function (json) {
                        if (!json.NotAuthorized) {
                            var obj = $.parseJSON(JSON.stringify(json));
                            $('#saldoAnterior').text(obj.SaldoAnterior);
                            $('#caixasEmDebito').text(obj.CaixasEmDebito);

                            if (obj.CaixasEmDebito >= 0) {
                                $('#statusSaldoCaixa').addClass("alert-success");
                            } else {
                                $('#statusSaldoCaixa').addClass("alert-error");
                            }
                        }
                        fnCallback(json);
                    },
                    "error": handleAjaxError
                });
            }

        });


        $("#btnSubmit").click(function () {

            var oTable = $('#tbVenda').dataTable();
            var tbVenda = [];
            $.each(oTable.fnGetNodes(), function (index, value) {
                var row = oTable.fnGetData(value);
                var qtdeVenda = $(value).find('input.qtdeVenda').val();
                var qtdeRetorno = $(value).find('input.qtdeRetorno').val();

                qtdeVenda = qtdeVenda || 0;
                qtdeRetorno = qtdeRetorno || 0;

                row.QtdeVenda = qtdeVenda;
                row.QtdeRetorno = qtdeRetorno;

                row.ValorProduto = row.ValorProduto.replace(/[^0-9\.]+/g, "");
                row.Total = row.Total.replace(/[^0-9\.]+/g, "");

                tbVenda.push(row);
            });
            var myJsonString = JSON.stringify(tbVenda);
            alert(myJsonString);

            var valorRecebido = parseFloat($("#mask_currencyX").val().replace(/[^0-9\,]+/g, "").replace(",", "."));
            var valorPrazo = parseFloat($("#mask_currencyY").val().replace(/[^0-9\,]+/g, "").replace(",", "."));

            console.log(valorRecebido)

            var retornoCaixaVazia = parseFloat($("#retornoCaixaVazia").val());
            valorRecebido = valorRecebido || 0;
            valorPrazo = valorPrazo || 0;
            retornoCaixaVazia = retornoCaixaVazia || 0;

            var oTableCheque = $('#tbCheques').dataTable();
            var tbCheques = [];
            $.each(oTableCheque.fnGetNodes(), function (index, value) {
                var row = oTableCheque.fnGetData(value);

                row.Valor = row.Valor.replace(/[^0-9\,]+/g, "").replace(",", ".");
                delete row.Status;

                tbCheques.push(row);
            });
            var myJsonStringCheques = JSON.stringify(tbCheques);
            var id = '@entregaID';
            var id2 = '@clienteID';

            $.ajax({
                url: '@Url.Content("~/Home/SubmitData")',
                type: 'POST',
                dataType: 'json',
                // contentType: "application/json",
                data: { entregaID: id,clienteID : id2, tbVenda: myJsonString, valorRecebido: valorRecebido, valorPrazo: valorPrazo, retornoCaixa: retornoCaixaVazia, tbCheques: myJsonStringCheques },
                "success": function (json) {
                    if (!json.NotAuthorized) {
                        alert('Completo');
                        window.history.go(-1);
                    }
                },
                "error": handleAjaxError
            });
            event.preventDefault();

            return true;
        });

    });
</script>
<div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div id="portlet-config" class="modal hide">
        <div class="modal-body">
            <!-- BEGIN FORM-->
            <h3 class="form-section">Cadastro de cheque</h3>
            <div class="row-fluid">
                <div class="span6 ">
                    <div class="control-group">
                        <label class="control-label" for="numeroCheque">Número do cheque</label>
                        <div class="controls">
                            <input type="text" id="numeroCheque" />

                        </div>
                    </div>
                </div>
                <!--/span-->
                <!--/span-->
            </div>
            <!--/row-->
            <div class="row-fluid">
                <div class="span6 ">
                    <div class="control-group">
                        <label class="control-label">Valor</label>
                        <div class="controls">
                            <input class="span6 m-wrap" id="mask_currency" type="text" />
                            <span class="help-inline">Ex.: R$ 9.999.999,00</span>
                        </div>
                    </div>
                </div>

            </div>
            <!--/row-->
            <!--/row-->
            <div class="row-fluid">
                <div class="span6 ">
                    <div class="control-group">
                        <label class="control-label">Data do cheque</label>
                        <div class="controls">
                            <div class="input-append date date-picker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
                                <input id="dtCheque" class="m-wrap m-ctrl-medium date-picker" readonly size="16" type="text" value="" /><span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--/row-->
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Close</button>
                <button type="button" id="target" class="btn blue">Save changes</button>
            </div>
            <!-- END FORM-->
        </div>
    </div>
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Delivery</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="#">Sale</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Make Sale</a></li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box blue tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Fechar pedido</div>
                    </div>
                    <div class="portlet-body">
                        <div class="tabbable portlet-tabs">
                            <ul class="nav nav-tabs">
                                <li class=""><a id="calcular" href="#portlet_tab4" data-toggle="tab">Invoice</a></li>
                                <li class=""><a href="#portlet_tab3" data-toggle="tab">Pagamento</a></li>
                                <li class=""><a href="#portlet_tab2" data-toggle="tab">Check</a></li>
                                <li class="active"><a href="#portlet_tab1" data-toggle="tab">Venda</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="portlet_tab1">
                                    <table id="tbVenda" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Produtos</th>
                                                <th>Qtde</th>
                                                <th>Troca</th>
                                                <th class="hidden-480">Valor</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Nanica</td>
                                                <td><input type="text" placeholder="small" class="m-wrap small"></td>
                                                <td><input type="text" placeholder="small" class="m-wrap small"></td>
                                                <td>0</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>Prata</td>
                                                <td><input type="text" placeholder="small" class="m-wrap small"></td>
                                                <td><input type="text" placeholder="small" class="m-wrap small"></td>
                                                <td>0</td>
                                                <td>0</td>
                                            </tr>
                                            <tr>
                                                <td>Maçã</td>
                                                <td><input type="text" placeholder="small" class="m-wrap small"></td>
                                                <td><input type="text" placeholder="small" class="m-wrap small"></td>
                                                <td>0</td>
                                                <td>0</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="4" style="text-align:right">Total:</th>
                                                <th id="somaVenda"></th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                </div>
                                <div class="tab-pane" id="portlet_tab2">
                                    <table id="tbCheques" class="table table-hover">
                                        <thead>
                                            <tr>

                                                <th>Número do cheque</th>
                                                <th>Valor</th>
                                                <th>Data</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                                <div class="tab-pane" id="portlet_tab3">
                                    <div class="payment">
                                        <h3>valores recebidos</h3>
                                        <div class="control-group">
                                            <label class="control-label">Valor recebido</label>
                                            <div class="controls">
                                                <input class="span6 m-wrap" id="mask_currencyX" type="text">

                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Valor a prazo</label>
                                            <div class="controls">
                                                <input class="span6 m-wrap" id="mask_currencyY" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane invoice" id="portlet_tab4">
                                    @*<table id="tbTotal" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>

                                                    <th>Saldo Anterior</th>
                                                    <th>Total venda</th>
                                                    <th>Recebido</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>

                                                    <td id="saldoAnterior">-300,00</td>
                                                    <td id="totalVenda"></td>
                                                    <td id="recebido" class="hidden-480"></td>
                                                    <td id="total"><span class="label label-success"></span></td>
                                                </tr>


                                            </tbody>
                                        </table>
                                        <div class="control-group form-horizontal">
                                            <label class="control-label">Retorno caixa vazia</label>
                                            <div class="controls">
                                                <input type="text" id="retornoCaixaVazia" placeholder="0" class="m-wrap small">
                                                <span class="help-inline">Some hint here</span>
                                            </div>
                                            <div class="portlet">
                                                <div id="statusSaldoCaixa" class="alert">
                                                    Cliente devendo: <strong id="caixasEmDebito"></strong> caixas vazias
                                                </div>
                                            </div>
                                            <input id="btnSubmit" typy="button" class="btn red" value="Submit">
                                        </div>*@



                                    <div class="row-fluid">
                                        <table class="table table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Product</th>
                                                    <th class="hidden-480">Qtde</th>
                                                    <th class="hidden-480">Desconto</th>
                                                    <th class="hidden-480">Valor caixa</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Hardware</td>
                                                    <td class="hidden-480">Server hardware purchase</td>
                                                    <td class="hidden-480">32</td>
                                                    <td class="hidden-480">$75</td>
                                                    <td>$2152</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Furniture</td>
                                                    <td class="hidden-480">Office furniture purchase</td>
                                                    <td class="hidden-480">15</td>
                                                    <td class="hidden-480">$169</td>
                                                    <td>$4169</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Foods</td>
                                                    <td class="hidden-480">Company Anual Dinner Catering</td>
                                                    <td class="hidden-480">69</td>
                                                    <td class="hidden-480">$49</td>
                                                    <td>$1260</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Software</td>
                                                    <td class="hidden-480">Payment for Jan 2013</td>
                                                    <td class="hidden-480">149</td>
                                                    <td class="hidden-480">$12</td>
                                                    <td>$866</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr>
                                    <div class="row-fluid">
                                        <div class="span8 invoice-block">
                                            <div class="well">
                                                <ul class="unstyled amounts">
                                                    <li><strong>Soma produtos:</strong> </li>
                                                    <li><strong>Valor a vista:</strong> $866</li>
                                                    <li><strong>Valor a prazo:</strong> -----</li>
                                                    <li><strong>Total recebido:</strong> $12489</li>
                                                    <li><strong>Saldo devedor:</strong> -----</li>
                                                </ul>
                                                <br>
                                                <a class="btn blue big hidden-print" onclick="javascript:window.print();">Fechar e enviar <i class="icon-envelope icon-big"></i></a>
                                                <a class="btn green big hidden-print">Submit Your Invoice <i class="m-icon-big-swapright m-icon-white"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>

