
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section cssViews{
    <link rel="stylesheet" type="text/css" href="~/plugins/bootstrap-datepicker/css/datepicker.css" />
    <link href="~/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" />
    <link href="~/plugins/jquery-ui/jquery.ui.slider.css" rel="stylesheet" />
    <link href="~/css/pages/tasks.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="~/plugins/select2/select2_metro.css" />

}

@section scriptsViews
    {
    <partial name="~/Views/PartialsSections/_ScriptsTable.cshtml" />
    <script type="text/javascript" src="~/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/scripts/ui-sliders.js"></script>
    <script src="~/scripts/tasks.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type="text/javascript" src="~/plugins/select2/select2.min.js"></script>

}

<script type="text/javascript">
    var sale = {};
    var paymentTemp = {};
    var nextDate = new Date();

    function initialPayment() {
        sale.paymentsSchedules = [];

        ///sale.TotalAmount = 10000;
        sale.Rest = 0;

        paymentTemp = {};
        nextDate = new Date();
        validadeInputs();

        $("#exprireDate").prop('disabled', false);
        $("#idPayment-Group").show();
        $('#tbPayment tbody tr').remove();
        $("#txtRest").val(sale.Rest.formatMoney());
        $("#slider-range-max").slider("values", 0);
    }

    function validadeInputs() {
        if ($("#exprireDate").val() == '' || $("#valueDivide").val() == '') {

            $(".errorForm").addClass("error");
            $(".iconError").show();
            return false;
        }
        else {
            $(".errorForm").removeClass("error");
            $(".iconError").hide();
            return true;
        }
    }

    function add_months(dt, n) {

        return new Date(dt.setMonth(dt.getMonth() + n));
    }

    function addPaymentSchedule() {
        if (!validadeInputs()) {
            return false;
        }

        paymentTemp.NumberDevide = $("#slider-range-max").slider("value");

        if (sale.paymentsSchedules.length === 0) {
            sale.Rest = sale.TotalAmount;
            nextDate = new Date(moment($("#exprireDate").val(), "DD/MM/YYYY").format("YYYY-MM-DD"));
        }

        for (var i = 0; i < paymentTemp.NumberDevide; i++) {
            var paymentSchedule = {};

            paymentSchedule.ExprireDate = new Date(nextDate);
            paymentSchedule.Method = $("select#ddlMethod").val();
            paymentSchedule.MethodName = $("#ddlMethod").select2('data').text;

            paymentSchedule.BenefitValue = parseFloat($("#valueDivide").val().replace(/[^0-9\,]+/g, "").replace(",", "."));

            sale.Rest -= paymentSchedule.BenefitValue;
            sale.paymentsSchedules.push(paymentSchedule);

            var dt = add_months(nextDate, 1);
            nextDate = dt;
        }
        $("#txtRest").val(sale.Rest.formatMoney());

        addRowsTablePayments();

        if (sale.paymentsSchedules.length > 0) {
            $("#exprireDate").prop('disabled', true);
        }
        if (sale.Rest == 0) {
            $("#idPayment-Group").hide();
        }

        console.log(sale);
    }

    function addRowsTablePayments() {
        $('#tbPayment tbody tr').remove();

        for (var i = 0; i < sale.paymentsSchedules.length; i++) {
            $('#tbPayment tbody').append(
                "<tr>" +
                '<td>' + (i + 1) + '</td>' +
                '<td>' + parseFloat(sale.paymentsSchedules[i].BenefitValue).formatMoney() + '</td>' +
                '<td>' + sale.paymentsSchedules[i].MethodName + '</td>' +
                '<td>' + moment(sale.paymentsSchedules[i].ExprireDate).format("DD-MM-YYYY") + '</td>' +
                '</tr>'
            );
        }
    }

    function calcDivide(devide) {
        var valorParcela = 0;
        if (sale.Rest == 0) {
            valorParcela = sale.TotalAmount / devide;
        } else {
            valorParcela = sale.Rest / devide;
        }

        var valueFormat = parseFloat(valorParcela).formatMoney();

        $("#valueDivide").val(valueFormat.replace(/[^0-9\,]+/g, ""));
        validadeInputs();
    }

    Number.prototype.formatMoney = function (places, symbol, thousand, decimal) {
        places = !isNaN(places = Math.abs(places)) ? places : 2;
        symbol = symbol !== undefined ? symbol : "R$ ";
        thousand = thousand || ".";
        decimal = decimal || ",";
        var number = this,
            negative = number < 0 ? "-" : "",
            i = parseInt(number = Math.abs(+number || 0).toFixed(places), 10) + "",
            j = (j = i.length) > 3 ? j % 3 : 0;
        return symbol + negative + (j ? i.substr(0, j) + thousand : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand) + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2) : "");
    };

    jQuery(document).ready(function () {
        $.extend($.inputmask.defaults, {
            'autounmask': true
        });

        $("#valueDivide").inputmask('R$ 999.999,99', { numericInput: true, rightAlignNumerics: false, greedy: false }); //123456  =>  € ___.__1.234,56
        $("#exprireDate").inputmask("d/m/y", { "placeholder": "dd/mm/yyyy" }); //multi-char placeholder
        $("#exprireDate").val(moment(add_months(new Date(), 1)).format("DD-MM-YYYY"));

        $("#slider-range-max").slider({
            range: "max",
            min: 1,
            max: 12,
            value: 1,
            slide: function (event, ui) {
                $("#slider-range-max-amount").text(ui.value);

                calcDivide(ui.value);
            }
        });

        $('.select2_option').select2({
            allowClear: true
        });

        if (jQuery().datepicker) {
            $('.date-picker').datepicker({
                rtl: App.isRTL(),
                format: 'dd-mm-yyyy'
            });
        }

        $("#AddPayment").click(function (event) {
            addPaymentSchedule();
        });

        initialPayment();
         $.ajax({
            type: "GET",
            url: '@Url.Content("~/Sale/GetAjaxHandlerPayMethods")',
            dataType: "json",
              "success": function (data) {
                  console.log(data);
                  if (data.aaData.length > 0) {
                      $.each(data.aaData, function (index, obj) {
                        var newOption = new Option(obj.Text, obj.Value, false, obj.Selected);
                          $("#ddlMethod").append(newOption).trigger('change');
                    });
                }
              },
              "error": handleAjaxError
        });

                @{ var clienteID = ViewData["clienteID"];
            var linhaID = ViewData["linhaID"];
            var entregaID = ViewData["entregaID"];
        }

        var url = '@Url.Content("~/Sale/GetAjaxHandlerExecuteSale")?clienteID=' + '@clienteID' + '&linhaID=' + '@linhaID' + '&deliveryID=' + '@entregaID';

        var oTableSale = $('#tbVenda').dataTable({
            "sAjaxSource": url,
            "bProcessing": true,
            "bDestroy": true,
            "aoColumns": [
                        {
                            "mData": "NomeProduto",
                            "bSortable": false
                        },
                        {
                            "mData": null,
                            "sType": "html",
                            "bSortable": false,
                            "sClass": "calc",
                            "defaultContent": "<i>Not set</i>",
                            "mData": function (data, type, row) {
                                if (type === 'display') {
                                    var statusStock = "green-stripe";
                                    if (data.Amount <= 5) {
                                        statusStock = "red-stripe"
                                    }
                                    return '<span class="btn mini ' + statusStock + '">Total: ' + data.Amount + ' ' + data.UnitMeasure + '</span>';
                                }
                                return data;
                            }
                        },
                        {
                            "mData": null,
                            "sType": "html",
                            "bSortable": false,
                            "sClass": "calc",
                            "mData": function (data, type, row) {
                                if (type === 'display') {
                                    var link = '<input type="text" placeholder="0" class="m-wrap small qtdeVenda"> ';
                                    if (data.Amount == 0) {
                                        link = '<span class="label label-important">finished products</span>'
                                    }

                                    return link;
                                }
                                return data;
                            }
                        },
                        {
                            "mData": null,
                            "sType": "html",
                            "bSortable": false,
                            "sClass": "calc",
                            "mData": function (data, type, row) {
                                if (type === 'display') {
                                    var link = '<input type="text" placeholder="0" class="m-wrap small qtdeRetorno">';
                                    if (data.Amount == 0) {
                                        link = '<span class="label label-important">finished products</span>'
                                    }
                                    return link;
                                }
                                return data;
                            }
                        },
                        {
                            "mData": "ValorProduto"
                        },
                        {
                            "mData": "Total",
                            "sClass": "somaTotal",
                        }
            ]

        });

        var oTableSaleCheck = $('#tbCheques').DataTable({
            "aoColumns": [
                        {
                            "mData": "Number",
                            "bSortable": false
                        },
                        {
                            "mData": "Value",
                            "bSortable": false
                        },
                        {
                            "mData": "DateCheck",
                            "bSortable": false
                        },
                            {
                                "mData": "Status",
                                "bSortable": false
                            },
                        {
                            "mData": "Action",
                            "bSortable": false
                        }],
            "aLengthMenu": [
       [5, 15, 20, -1],
       [5, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "iDisplayLength": 5,
            "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
            "sPaginationType": "bootstrap",
            "oLanguage": {
                "sLengthMenu": "_MENU_ records per page",
                "oPaginate": {
                    "sPrevious": "Prev",
                    "sNext": "Next"
                }
            },
            "aoColumnDefs": [{
                'bSortable': false,
                'aTargets': [0]
            }
            ]
        });
        var rowID = 0;

        $("#btnClear").click(function (event) {
            initialPayment();
        });
        //Salva linha de cheque
        $("#target").click(function (event) {
            var valor =   parseFloat($("#mask_currency").val().replace(/[^0-9\,]+/g, "").replace(",", "."));
            valor = valor.formatMoney();

            var tb = $('#tbCheques').DataTable();
            var rowADD = {
                "Number": $("#numeroCheque").val(),
                "Value": valor,
                "DateCheck": $("#dtCheque").val(),
                "Status": "<span class=\"label label-warning\">Pendding</span>",
                "Action": "<a class=\"delete\" href=\"\">Delete</a>"
            };

            tb.row.add(rowADD).draw();
            $("#mask_currency").val("");
            $("#numeroCheque").val("");
            $("#dtCheque").val("");
            $("#btnCloseModal").click();
        });

        $('#tbCheques a.delete').live('click', function (e) {
            e.preventDefault();

            if (confirm("Are you sure to delete this row ?") == false) {
                return;
            }

            oTableSaleCheck
                    .row($(this).parents('tr'))
                    .remove()
                    .draw();
        });

        //Calcula os valores para os produtos
        $('#tbVenda tbody').on('blur', 'td.calc', function () {
            var sum = 0;
            var nRow = $(this).parents('tr')[0];

            var valor = $(this).closest('tr').children().eq(4);
            var valorProduto = parseFloat($(valor).html().replace(/[^0-9\,]+/g, "").replace(",", "."));

            var qtde = $(nRow).find('.qtdeVenda').val();
            var valueDiscount = $(nRow).find('.qtdeRetorno').val();

            var totalRow = 0;
            if (valueDiscount !== undefined && valueDiscount !== '') {
                totalRow = (valorProduto * qtde) - parseInt(valueDiscount);
            }
            else {
                totalRow = valorProduto * qtde;
            }

            var tb = $('#tbVenda').dataTable();

            var rowIndex = tb.fnGetPosition($(this).closest('tr')[0]);
            tb.fnUpdate(totalRow.formatMoney(), rowIndex, 5);

            $("#tbVenda tbody .somaTotal").each(function () {
                var valor = $(this).html();
                sum += parseFloat(valor.replace(/[^0-9\,]+/g, "").replace(",", "."));
            });
            sale.TotalAmount = sum;
            $('#txtTotalAmount').val(sale.TotalAmount.formatMoney());

            $('#somaVenda').html(sum.formatMoney());

            return false;
        });

        $('#calcular').click(function () {
            var valorRecebido = parseFloat($("#mask_currencyX").val().replace(/[^0-9\,]+/g, "").replace(",", "."));
            var saldoAnterior = parseInt($("#tbTotal #saldoAnterior").text().replace(",", "."));

            var sum = parseFloat($("#somaVenda").text().replace(/[^0-9\,]+/g, "").replace(",", "."));
            var ct = valorRecebido - sum;

            $("#totalVenda").text(sum.formatMoney());
            $("#recebido").text(valorRecebido.formatMoney())
            $("#total").text((saldoAnterior + ct).formatMoney());
        });

        $("#btnSubmit").click(function () {
            var saleObj = {};
            saleObj.ClientID = '@clienteID';
            saleObj.DeliveryID = '@entregaID';

            var valorRecebido = parseFloat($("#mask_currencyX").val().replace(/[^0-9\,]+/g, "").replace(",", "."));
            var valorPrazo = parseFloat($("#mask_currencyY").val().replace(/[^0-9\,]+/g, "").replace(",", "."));
            valorRecebido = valorRecebido || 0;
            valorPrazo = valorPrazo || 0;
            var retornoCaixaVazia = parseFloat($("#ReturnBox").val());
            retornoCaixaVazia = retornoCaixaVazia || 0;

            saleObj.ReceivedValue = valorRecebido;
            saleObj.ForwardValue = valorPrazo;
            saleObj.TotalReturnedBoxes = retornoCaixaVazia;

            var oTableSale = $('#tbVenda').dataTable();
            var tbVenda = [];
            $.each(oTableSale.fnGetNodes(), function (index, value) {
                var row = oTableSale.fnGetData(value);
                var qtdeVenda = $(value).find('input.qtdeVenda').val();
                var qtdeRetorno = $(value).find('input.qtdeRetorno').val();

                qtdeVenda = qtdeVenda || 0;
                qtdeRetorno = qtdeRetorno || 0;

                row.Amount = qtdeVenda;
                row.DiscountAmount = qtdeRetorno;

                row.SaleValue = row.ValorProduto.replace(/[^0-9\.]+/g, "");
                row.Total = row.Total.replace(/[^0-9\.]+/g, "");
                row.ProductID = row.DT_RowId;
                tbVenda.push(row);
            });
            saleObj.SalesProducts = tbVenda;

            var oTableSaleCheque = $('#tbCheques').dataTable();
            var listChecks = [];
            $.each(oTableSaleCheque.fnGetNodes(), function (index, value) {
                var row = oTableSaleCheque.fnGetData(value);

                row.Value = row.Value.replace(/[^0-9\,]+/g, "").replace(",", ".");
                delete row.Status;
                delete row.Action;

                listChecks.push(row);
            });
            saleObj.Checks = listChecks;

            var myJsonString = JSON.stringify(saleObj);

            $.ajax({
                url: '@Url.Content("~/Sale/PostAjaxHandlerAddSale")',
                type: 'POST',
                dataType: 'json',
                data: { strSaleJSON: myJsonString },
                "success": function (json) {
                    if (!json.NotAuthorized) {
                        alert('Completo');
                        window.history.back();
                    }
                },
                "error": handleAjaxError
            });
            event.preventDefault();

            return true;
        });

    });
</script>

<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Delivery</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="#">Sale</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Make Sale</a></li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box blue tabbable">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Fechar pedido</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="tabbable portlet-tabs">
                            <ul class="nav nav-tabs">
                                <li class=""><a href="#portlet_tab2" data-toggle="tab">Pagamento</a></li>
                                <li class="active"><a href="#portlet_tab1" data-toggle="tab">Venda</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="portlet_tab1">
                                    <!-- BEGIN FORM-->
                                    <form action="#" class="form-horizontal">
                                        <div class="control-group">
                                            <table id="tbVenda" class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Produtos</th>
                                                        <th>Quantity to delivery</th>
                                                        <th>Qtde</th>
                                                        <th>Desconto</th>
                                                        <th>Valor</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Nanica</td>
                                                        <td><input type="text" placeholder="small" class="m-wrap small"></td>
                                                        <td><input type="text" placeholder="small" class="m-wrap small"></td>
                                                        <td>0</td>
                                                        <td>0</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th colspan="4" style="text-align:right">Total:</th>
                                                        <th id="somaVenda"></th>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                        </div>

                                        <div class="form-actions">
                                            <a onclick="window.history.back(); return false;" href="#" class="btn purple"><i class="m-icon-swapleft  m-icon-white"></i> Back</a>
                                            <button id="btnSubmit" type="button" class="btn blue"><i class="icon-ok"></i> Save</button>
                                            <button type="button" class="btn">Cancel</button>
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                                <div class="tab-pane" id="portlet_tab2">
                                    <!-- BEGIN FORM-->
                                    <h3 class="form-section">Payment form</h3>
                                    <div class="row-fluid">
                                        <div class="span6 ">
                                            <div class="row-fluid">
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label" for="firstName">Total Amount</label>
                                                        <div class="controls">
                                                            <input id="txtTotalAmount" class="m-wrap medium" type="text" placeholder="R$ 0,00" disabled="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="span6">
                                                    <div class="control-group">
                                                        <label class="control-label" for="firstName">Rest</label>
                                                        <div class="controls">
                                                            <input id="txtRest" class="m-wrap medium" type="text" placeholder="R$ 0,00" disabled="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label">Payment option</label>
                                                <div class="controls">
                                                    <label class="radio">
                                                        <input type="radio" name="optionsRadios2" value="option1" />
                                                        Pay cash
                                                    </label>
                                                    <label class="radio">
                                                        <input type="radio" name="optionsRadios2" value="option2" checked />
                                                        Financed
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row-fluid">
                                        <div class="span6 ">
                                            <div class="control-group">
                                                <label class="control-label">Method</label>
                                                <div class="controls">
                                                    <select id="ddlMethod" class="span6 select2_option" data-placeholder="Choose a method" tabindex="1" name="UserSelected"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="idPayment-Group">
                                        <hr />
                                        <div class="row-fluid">
                                            <div class="span6 ">
                                                <div class="control-group">
                                                    <div id="slider-range-max" class="slider bg-purple"></div>
                                                    <div class="slider-value">
                                                        Parcelas:
                                                        <span id="slider-range-max-amount"></span>
                                                    </div>
                                                </div>
                                                <div class="control-group errorForm">
                                                    <label class="control-label">Pre-Plot value<span class="required">*</span></label>
                                                    <div class="controls input-icon">
                                                        <input type="text" id="valueDivide" class="span6 m-wrap" placeholder="123456  =>  R$ ___.__1.234,56">
                                                        <span style="display:none;" class="input-error tooltips iconError" data-original-title="please write a value date">
                                                            <i style="display:none;" class="icon-exclamation-sign iconError"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="span6 ">
                                                <div class="control-group errorForm">
                                                    <label class="control-label">First Exprire Date<span class="required">*</span></label>
                                                    <div class="controls input-icon">
                                                        <input type="text" id="exprireDate" class="span6 m-wrap" placeholder="dd/mm/yyyy">
                                                        <span style="display:none;" class="input-error tooltips iconError" data-original-title="please write a valid date">
                                                            <i style="display:none;" class="icon-exclamation-sign iconError"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span6 ">
                                                <input type="submit" id="AddPayment" class="btn blue" value="AddPayment" />

                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row-fluid">
                                        <div class="span8">
                                            <!-- BEGIN SAMPLE TABLE PORTLET-->
                                            <div class="portlet">
                                                <div class="portlet-title">
                                                    <div class="caption"><i class="icon-calendar"></i>Payment Schedule</div>
                                                    <div class="tools">
                                                        <a href="javascript:;" class="collapse"></a>
                                                    </div>
                                                    <div class="actions">
                                                        <div class="btn-group">
                                                            <a class="btn mini red" id="btnClear" href="#">Clear  <i class=" icon-remove"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <table id="tbPayment" class="table table-striped table-bordered table-advance table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th><i class="icon-money"></i> From</th>
                                                                <th><i class="icon-briefcase"></i> Descrition</th>
                                                                <th><i class="icon-calendar"></i> Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- END SAMPLE TABLE PORTLET-->
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
                                        <button type="button" class="btn">Cancel</button>
                                    </div>
                                    <!-- END FORM-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>

