@{
    ViewData["Title"] = "Home Page";
}

@section cssViews{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/plugins/select2/select2_metro.css" />

    <!-- END PAGE LEVEL STYLES -->
}
@section scriptsViews{
    <partial name="~/Views/PartialsSections/_ScriptsTable.cshtml" />
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        $('.select2_option').select2({
            allowClear: true
        });

          $.ajax({
            type: "GET",
            url: '@Url.Content("~/Delivery/GetAjaxHandlerUsers")',
            dataType: "json",
              "success": function (data) {
                  console.log(data);
                  if (data.aaData.length > 0) {
                      $.each(data.aaData, function (index, obj) {
                        var newOption = new Option(obj.Text, obj.Value, false, obj.Selected);
                        $("#ddlUser").append(newOption).trigger('change');
                    });
                }
              },
              "error": handleAjaxError
        });
        //carregar dropdown linhas
        var $div = $("<div>", { class: "a" });
        var sel = $('<select class="calor"/>').appendTo($div);
        sel.append($("<option>").attr('value', 0).text('selecione'));
        $.ajax({
            type: "GET",
            url: '@Url.Content("~/Route/AjaxHandlerGet")',
            dataType: "json",
            "success": function (data) {
                if (data.aaData.length > 0) {
                    var url = '@Url.Content("~/Delivery/GetAjaxHandlerProductsStock")';

                    $('#tbProducts').dataTable({
                        "bPaginate": false,
                        "bAutoWidth": false,
                        "sAjaxSource": url,
                        bFilter: false, bInfo: false,
                        "bDestroy": true,
                        "aoColumns": [
                                    {
                                        "mData": null,
                                        "sType": "html",
                                        "bSortable": false,
                                        "mRender": function (data, type, row) {
                                            if (type === 'display') {
                                                var statusStock = "green-stripe";
                                                if (row.StockTotal <= 0) {
                                                    statusStock = "red-stripe"
                                                }
                                                return '<a href="#" class="btn mini ' + statusStock + '">Total: ' + row.StockTotal + '</a>';
                                            }
                                            return data;
                                        }
                                    },
                                    {
                                        "mData": "Name",
                                        "bSortable": false
                                    },
                                    {
                                        "mData": null,
                                        "sType": "html",
                                        "bSortable": false,
                                        "sClass": "calc",
                                        "mRender": function (data, type, row) {
                                            if (type === 'display') {
                                                var txtTotal = '<input type="text" placeholder="0" class="m-wrap small amount">';

                                                if (row.StockTotal <= 0) {
                                                    txtTotal = '<span class="label label-important">Unavailable</span>'
                                                }
                                                return txtTotal;
                                            }
                                            return data;
                                        }
                                    }
                        ]
                    });

                    $.each(data.aaData, function (i, obj) {
                        sel.append($("<option>").attr('value', obj.DT_RowId).text(obj.Name));
                        $("#mainSelect").append($("<option>").attr('value', obj.DT_RowId).text(obj.Name));
                    });
                }
            },
            "error": handleAjaxError
        });

        $("#btnSubmit").click(function () {
            var oTable = $('#tbProducts').dataTable();
            var tb = [];
            $.each(oTable.fnGetNodes(), function (index, value) {
                if ($(value).find('input.amount').val() > 0) {
                    var row = oTable.fnGetData(value);

                    var valueAmount = $(value).find('input.amount').val();
                    if (valueAmount !== undefined && valueAmount !== '') {
                        row.Amount = valueAmount;
                        row.ProductID = row.DT_RowId;
                        tb.push(row);
                    }             
                }
            });
            var myJsonString = JSON.stringify(tb);
            var routeId = $("select#mainSelect").val();
            var userId = $("select#ddlUser").val();

            $.ajax({
                url: '@Url.Content("~/Delivery/PostAjaxHandlerCreateDelivery")',
                type: 'POST',
                dataType: 'json',
                data: { tbProducts: myJsonString, routeID: routeId, userID: userId },
                "success": function (json) {
                    if (!json.NotAuthorized) {
                        alert('Completo');
                        window.history.go(-1);
                    }
                },
                "error": handleAjaxError
            });
            event.preventDefault();
            return true;
        });
    });
</script>

<!-- BEGIN PAGE -->
<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Home</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Data Tables</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Basic Tables</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span6">
                <!-- BEGIN VALIDATION STATES-->
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Create delivery</div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form action="#" id="form_sample_1" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">Routes<span class="required">*</span></label>
                                <div class="controls">
                                    <select id="mainSelect" class="span6 select2_option" data-placeholder="Choose a user" tabindex="1" name="category"><option value="0">Please select route</option></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Users<span class="required">*</span></label>
                                <div class="controls">
                                    <select id="ddlUser" class="span6 select2_option" data-placeholder="Choose a user" tabindex="1" name="UserSelected"> <option value="0">Please select user</option></select>
                                </div>
                            </div>
                            <div class="form-actions">
                                <a onclick="window.history.back(); return false;" href="#" class="btn purple"><i class="m-icon-swapleft  m-icon-white"></i> Back</a>
                                <button id="btnSubmit" type="button" class="btn blue">Criar entrega</button>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
                <!-- END VALIDATION STATES-->
            </div>
            <div class="span6">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet box red">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-cogs"></i>Produtos</div>
                    </div>
                    <div class="portlet-body">
                        <table id="tbProducts" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Stock</th>
                                    <th>Products</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->
