@{
    ViewData["Title"] = "Home Page";
}


@section scriptsViews
    {
<partial name="~/Views/PartialsSections/_ScriptsTable.cshtml" />
}

<script type="text/javascript">

    function getElementRelation(url) {
        return '<a href="' + url + '" class="btn mini"><i class="icon-search"></i> View</a>';
    }

    jQuery(document).ready(function () {

        var url = '@Url.Content("~/Delivery/GetTableAjaxHandlerDeliveries")';

        var oTable = $('#tbClientes').dataTable({
            "sAjaxSource": url,
            "bPaginate": false,
            "bAutoWidth": false,
            bFilter: false, bInfo: false,
            "aoColumns": [
                        {
                            "mData": null,
                            "sType": "html",
                            "mRender": function (data, type, row) {
                                if (type === 'display') {
                                    var url = '@Url.Action("ExecuteDelivery", "Delivery")?entregaID=' + data.DT_RowId + '&linhaID=' + data.RouteID;
                                    return getElementRelation(url);
                                }
                                return data;
                            }
                        },
                        {
                            "mData": "RouteName",
                            "defaultContent": "<i>Not set</i>"
                        },
                        {
                            "mData": "CreatedBy"
                        },
                        {
                            "mData": "FinalizedBy"
                        },
                        {
                            "mData": "DtStart"
                        },
                        {
                            "mData": "DtEnd"
                        },
                        {
                            "mData": "IsFinalized"
                        }

            ]
        });
    });
</script>


<div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div id="portlet-config" class="modal hide">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>portlet Settings</h3>
        </div>
        <div class="modal-body">
            <p>Here will be a configuration form</p>
        </div>
    </div>
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Home</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Data Tables</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Managed Tables</a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet box light-grey">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-globe"></i>Entregas</div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="btn-group">
                                <a asp-action="Create" asp-controller="Delivery" class="btn green">
                                    Add New <i class="icon-plus"></i>
                                </a>
                            </div>

                        </div>
                        <table class="table table-striped table-bordered table-hover" id="tbClientes">
                            <thead>
                                <tr>
                                    <th>Visualizar</th>
                                    <th>Linha</th>
                                    <th>CriadoPor</th>
                                    <th>FinalizadoPor</th>
                                    <th>DataCriação</th>
                                    <th>DataFinalização</th>
                                    <th>Finalizado</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>
