
@{
    ViewData["Title"] = "MakeDelivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section cssViews{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/plugins/select2/select2_metro.css" />

    <!-- END PAGE LEVEL STYLES -->
}
@section scriptsViews{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/plugins/select2/select2.min.js"></script>
    <partial name="~/Views/PartialsSections/_ScriptsTable.cshtml" />
    <script src="~/js/make-delivery.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        @{ var clientID = ViewData["ClientID"];
            var deliveryID = ViewData["DeliveryID"];
            }
        MakeDeliveryComponents.init('@clientID', '@deliveryID');
    });
</script>

<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Delivery</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="#">Sale</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Make delivery</a></li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-reorder"></i>Make just delivery</div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form action="#" class="form-horizontal">                  
                            <div class="control-group">
                               
                              
                                    <h3 class="form-section  alert alert-info"><strong>Client name:</strong> @ViewData["Client"]</h3>
                             
                            </div>
                            <div class="control-group">
                                <label class="control-label">Select track<span class="required">*</span></label>
                                <div class="controls">
                                    <select id="ddlTrackingType" class="span6 select2_option" data-placeholder="Choose a tracking Types" name="TrackingTypeID" asp-items="@((List<SelectListItem>)ViewData["TrackingTypes"])"></select>
                                </div>
                            </div>
                            <hr />
                            <div class="control-group" >
                                <table id="tbProductItems" class="table-bordered table-striped table-condensed cf">
                                    <thead class="cf">
                                        <tr>
                                            <th>Box type</th>
                                            <th>Product</th>
                                            <th>Product Items</th>
                                            <th>Has Cross-Docking</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <th colspan="2" style="text-align:right">Total:</th>
                                            <th>

                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="isReadOlny form-actions">
                                <a onclick="window.history.back(); return false;" href="#" class="btn purple"><i class="m-icon-swapleft  m-icon-white"></i> Back</a>
                                <button type="button" class="btn blue btnSubmit"><i class="icon-ok"></i> Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>

