@model CtrlBox.Application.ViewModel.ClientVM

@{
    ViewData["Title"] = "Home Page";
}


@section cssViews{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="~/plugins/select2/select2_metro.css" />

    <!-- END PAGE LEVEL STYLES -->
}
@section scriptsViews{
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="~/plugins/select2/select2.min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
}

<script type="text/javascript">
    jQuery(document).ready(function () {
        $('.select2_option').select2({
            allowClear: true
        });


    });
</script>
<div class="page-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="index.html">Client</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li>
                        <a href="#">Index</a>
                        <span class="icon-angle-right"></span>
                    </li>
                    <li><a href="#">Create</a></li>
                </ul>
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption"><i class="icon-plus"></i>Create</div>
                    </div>
                    <div class="portlet-body">
                        <!-- BEGIN FORM-->
                        <form asp-action="Create" asp-controller="Client" class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">Name</label>
                                <div class="controls">
                                    <input type="text" name="Name" placeholder="Name" class="m-wrap large" />
                                    <span class="help-inline">Name</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Phone</label>
                                <div class="controls">
                                    <input type="text" name="Phone" placeholder="Phone" class="m-wrap large" />
                                    <span class="help-inline">Phone</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Address</label>
                                <div class="controls">
                                    <select id="ddlAddress" class="span6 select2_option" data-placeholder="Choose a Address" name="AddressID" asp-for="AddressID" asp-items="@((List<SelectListItem>)ViewData["Addresses"])"><option value="0">Please select Address</option></select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Category</label>
                                <div class="controls">
                                    <select id="ddlCategory" data-placeholder="Category" class="span6 select2_option" multiple="multiple" name="ClientsCategoriesID" asp-for="ClientsCategoriesID" asp-items="@((List<SelectListItem>)ViewData["Categories"])"><option value="0">Please select Categories</option></select>
                                </div>
                            </div>

                            <div class="form-actions">
                                <button type="submit" class="btn blue"><i class="icon-ok"></i> Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
    <!-- END PAGE CONTAINER-->
</div>