<div id="modalFinalizeDelivery" class="modal hide fade" tabindex="-1" data-focus-on="input:first" style="display: none; margin-top: -155px;" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h3>Delivery</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span12 top-news">
                <a href="#" class="btn green">
                    <span>Finalize</span>
                    <em>Date on: @DateTime.Now.ToString("dd/MM/yyyy")</em>
                    <em>
                        <i class="icon-money"></i>
                        Total sale: R$10.000,00
                    </em>
                    <em>
                        <i class="icon-list"></i>
                        Products total: 1000
                    </em>
                    <i class="icon-briefcase top-news-icon"></i>
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <a id="btnCloseDelivery" onClick="AppCtrlBox.putFinalizeDelivery(this)" class="btn blue"><i class="icon-plus"></i> Finalize</a>
            <button type="button" data-dismiss="modal" class="btn">Close</button>
        </div>
    </div>
</div>