<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CtrlBox - Invoice</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="CtrlBox - Invoice">
    <meta name="author" content="Juliano.Pestili">

    <link href="~/plugins/invoice/css/template.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
   
</body>
</html>
